<div class="header-aside">
  <h1>Meet Haris</h1>
  <svg version="1.1" id="hmbranding-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 900 900" enable-background="new 0 0 900 900" xml:space="preserve">
    <polyline class="hm-svg" stroke-miterlimit="10" points="15.5,207.9 15.5,424.5 335.5,424.5 
      335.5,207.9 "/>
    <polyline class="hm-svg" stroke-miterlimit="10" points="15.5,699.8 15.5,487 335.5,487 
      335.5,699.8 "/>
    <polyline class="hm-svg" stroke-miterlimit="10" points="400.1,699.8 400.1,316.2 675.7,699.8 "/>
    <line class="hm-svg" stroke-miterlimit="10" x1="400.1" y1="207.9" x2="754.5" y2="699.8"/>
    <polyline class="hm-svg" stroke-miterlimit="10" points="885.3,699.8 885.3,207.9 643.5,545.7 "/>
  </svg>
</div>

<div class="home-content">

  <div class="home-intro center-block">
    <p class="u-spacer24">Hello, my name is Haris Mahmood. I'm a web designer + developer based in Toronto. I spend the majority of my time creating awesome applications and user interfaces that function and look incredibly well.</p> 
    <p>When I'm not doing this I'm either playing around with my camera, have my face flat against my pillow, or busy day-dreaming about <span class="strike">Emma Watson</span> Rameeza.</p>

  </div>
  
  <div class="posts-list">
  <% @posts.order('created_at DESC').each do |post| %>
    
    <div class="posts-list-item">

      <% if user_signed_in? %>
        <div class="posts-item-actions">
          <%= link_to edit_post_path(post) do %>
            <span class="icon-compose"></span>
          <% end %>

          <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="icon-close"></span>
          <% end %>
        </div>
      <% end %>

      <p class="u-lowerEmphasis u-uppercase u-spacer24">
        <span class="icon-clock"></span>
        <%= time_ago_in_words(post.created_at) %> ago</p>
      <%= link_to post do %>
        <h2><%= post.title %></h2>
      <% end %>
    </div>
  <% end %>
  </div>


 

  <footer>
     <% if user_signed_in? %>
      <%= link_to 'New Post', new_post_path, class: "button" %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button" %> 
     <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "button" %>
     <% end %>

  </footer>
</div>