<%
meta title: "Home"
%>

<!-- <a class="navigation js-toggleOverlay" href="#">Portfolio</a> -->

<div class="header-aside header-aside--home animated fadeIn">
  <h1 class="sitetitle">Meet Haris</h1>
  <%= render 'layouts/svg' %>
</div>


<div class="site-content animated fadeIn">

  <% if user_signed_in? %>
    <div class="admin-toolbelt">
    <%= link_to 'New Post', new_post_path, class: "button" %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button" %> 
    </div>
  <% end %>
  
  <div class="home-intro center-block">
    <p class="u-spacer24">Hello, my name is Haris Mahmood. I'm a web designer + developer based in Toronto. I spend the majority of my time creating awesome applications and user interfaces that function and look incredibly well.</p> 
    <p>When I'm not doing this I'm either playing around with my camera, have my face flat against my pillow, or busy day-dreaming about <span class="strike">Emma Watson</span> Rameeza.</p>
    <div class="social">
      <a class="social-icon" href="http://www.twitter.com/harismahmood89"><span class="icon-twitter"></span></a>
      <a class="social-icon" href="http://ca.linkedin.com/pub/haris-mahmood/50/b66/1b0/"><span class="icon-linkedin"></span></a>
    </div>
  </div>


  <div class="posts-list">
  <% @posts.order('created_at DESC').each do |post| %>
    
    <div class="posts-list-item">

      <% if user_signed_in? %>
        <div class="posts-item-actions">
          <%= link_to edit_post_path(post) do %>
            <span class="icon-compose"></span>
          <% end %>

          <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="icon-trash"></span>
          <% end %>
        </div>
      <% end %>

      <p class="u-lowerEmphasis u-uppercase u-spacer24">
        <span class="icon-clock"></span>
        <%= time_ago_in_words(post.created_at) %> ago</p>
      <%= link_to post do %>
        <h2><%= post.title %></h2>
      <% end %>
    </div>
  <% end %>
  </div>

  <%= render 'layouts/footer' %>
</div>



<div class="overlay">
  <div class="portfolio-items">
    
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var svg = new Walkway({ 
      selector: '#hmbranding-svg',
      duration: '3000',
      easing: 'easeOutSine'
    });
    
    svg.draw();
  });
</script>