<%
title @post.title
%>

<div class="header-aside header-aside--show animated fadeIn">
  <%= render 'layouts/svg' %>
  <%= link_to posts_path, class: "show-return button button--inverted u-spacer24" do %>
    Return to Home
  <% end %>
  <h1 class="show-title"><%= link_to_unless_current @post.title, @post %></h1>

  <div class="prev-and-next">
    <div class="grid grid--flush">
      <div class="grid__item one-half">
        <% newer = @post.next
        if newer.present? %>
          <%= link_to post_path(newer), class: "prev-and-next-link u-alignCenter" do %>
            <span class="icon icon-arrow-left"></span>
            <span>Newer</span>
          <% end %>
        <% end %>
      </div>

      <div class="grid__item one-half">
        <% older = @post.previous
        if older.present? %>
          <%= link_to post_path(older), class: "prev-and-next-link u-alignCenter" do %>
            <span>Older</span>
            <span class="icon icon-arrow-right"></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="site-content animated fadeIn">
  <!-- ADMIN TOOLBELT
  ========================= -->
  <% if user_signed_in? %>
    <div class="admin-toolbelt">
    <%= link_to 'Edit Post', edit_post_path(@post), class: "button" %>
    <%= link_to 'New Post', new_post_path, class: "button" %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button" %> 
    </div>
  <% end %>

  <!-- RAILS NOTICES
  ========================= -->
  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>

  <div class="show-post">
    
    <div class="post-block">

      <!-- TAG LIST
      ========================= -->
      <% if @post.tag_list.present? %>
        <p>
          <span class="icon-tag"></span>
          <% @post.tag_list.each do |tagitem| %>
            <span class="tag"><%= tagitem %></span>
          <% end %>
        </p>
      <% end %>
      
      <!-- MARKDOWN
      ========================= -->
      <div class="markdown">
        <%= markdown @post.body %>
      </div>
      
      <!-- TIMESTAMP
      ========================= -->
      <p class="show-stamp"> Created <%= time_ago_in_words(@post.created_at) %> ago</p>
    </div>

    <!-- <div class="post-block">
      <div class="comments-holder">
        <h2><%= @post.comments.count %> Comments</h2>
        <%= render @post.comments %>

        <h3>Add a comment:</h3>
        <%= render "comments/form" %>
      </div>
    </div> -->

    <%= render 'layouts/footer' %>
    
  </div>
</div>