<div class="right-actions">
  <%= link_to posts_path, class: "action-return" do %>
    <span class="icon-close"></span>
  <% end %>
</div>

<div class="show-post">
  <p id="notice"><%= notice %></p>
  
  <div class="post-block">
    <h3 class="u-spacer10"> Created <%= time_ago_in_words(@post.created_at) %> ago</h3 class="u-spacer10">
    <h1 class="u-spacer50 "><%= link_to_unless_current @post.title, @post %></h1>
    
    <% if @post.tag_list.present? %>
      <p>
        <span class="icon-tag"></span>
        <% @post.tag_list.each do |tagitem| %>
          <span class="tag"><%= tagitem %></span>
        <% end %>
      </p>
    <% end %>

    <div class="markdown">
      <%= markdown @post.body %>
    </div>
  </div>

  <!-- <div class="post-block">
    <div class="comments-holder">
    	<h2><%= @post.comments.count %> Comments</h2>
    	<%= render @post.comments %>

    	<h3>Add a comment:</h3>
    	<%= render "comments/form" %>
    </div>
  </div> -->


  <footer>
    <div class="wrapper">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post), class: "button" %>
      <% end %>
      <%= link_to 'Back', posts_path, class: "button" %>
    </div>
  </footer>
  
</div>

