<!DOCTYPE html>
<html>
<head>
  <!-- <title>Haris Mahmood</title> -->
  <%=
  metamagic site: "Haris Mahmood",
  title: [:title, :site], separator: " - ",
  description: "Thoughts and tutorials shared by Haris Mahmood, a web application developer and designer based in Toronto.",
  keywords: ["developer", "web application", "tutorials", "frontend", "website", "html", "css", "ruby on rails", "ruby", "rails"]
  %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
  <script src="//use.typekit.net/xxv5gff.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>


</body>
</html>
